<!--footer section starts-->
</body>
<footer>
    <div class="mainfoot">
        <div class="foot">

            <nav>
                <ul>
                    <li>
                        <a href="/about">AboutUs</a>
                    </li>
                    <li>
                        <a href="/contact">ContactUs</a>
                    </li>
                </ul>
            </nav>

        </div>
        <div class="foot1">

            <nav>
                <ul>
                    <li>
                        <a href="https://www.facebook.com/"> <img src="/Images/img1.png" alt="face" id="face"></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/"> <img src="/Images/img2.jpg" alt="twt" id="twt"></a>
                </ul>
            </nav>

        </div>
</footer>

</html>