<%- include("./partials/header.ejs")%>
<div class="Footer_ele">
    <h3>UNC Charlotte</h3>
    <p>UNC Charlotte is North Carolina's urban research university. It leverages its location in the state's largest city to offer internationally competitive programs of research and creative activity, exemplary undergraduate, graduate and professional programs, and a focused set of community engagement initiatives. UNC Charlotte maintains a particular commitment to addressing the cultural, economic, educational, environmental, health, and social needs of the greater Charlotte region. </p>
</div>
    <%- include("./partials/footer.ejs")%>