<%- include("./partials/header.ejs")%>
    <div class="Footer_ele">
        <h2>Please contact us</h2>
        <p>
            Contact Us: +1 (600) 584-7896
        </p>
        E-mail: myuncc@gmail.com
    </div>
    <%- include("./partials/footer.ejs")%>