<%- include('./partials/header.ejs')%>


    <div class="maindiv">
        <article>
            <p>
                Welcome to University of North Carolina at Charlotte. Variety is more than the spice of life. It is life! The world offers a broader range of career opportunities than ever before, which is why we offer the way to explore and prepare for so many of them right. Choose from diverse majors in 90 bachelor's degree programs and more than 100 graduate programs.
            </p>
        </article>
    </div>
    <%- include('./partials/footer.ejs')%>